<div class="container">

  <div class="row">
    <div class="col">
      <h1>DETALLE POR JUEGOS</h1>
      {{>report-table-games}}
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1>DETALLE POR CLASIFICACIONES</h1>
      {{>report-table-class}}
    </div>
  </div>



  <div class="row">
    <div class="col-5">
      <h1>PUNTAJES TOTALES</h1>
      {{>report-great-total}}

    </div>
  </div>


</div>