<div class="container">
  <div class="row">
    <div class="col-3">
     {{>links-bet}}
      </div>
    <div class="col">
      
      {{!-- {{>render-games}} --}}
      {{>bet-games}} 
      {{>bet-classification}}
    </div>
    <div class="col-3">
      {{>report-total-point}}
    </div>
  </div>
</div>