<div class="container">
  <div class="row">
    <div class="col">
    {{>bet-by-phase}}
    {{>bet-classification}}
    </div>
   <div class="col-3">
      {{>report-total-point}}
    </div>
  </div>
</div>