<div class="row bg-dark">

  <div class="col">
    <form action="/auth/signin" method="POST">
      <div class="mb-3">
        <label for="email" class="form-label">Correo</label>
        <input type="email" class="form-control" name="email" placeholder="Tu correo">
      </div>
      <div class="mb-3">
        <label for="pass" class="form-label">Contraseña</label>
        <input type="password" class="form-control" name="password" placeholder="Contraseña">
      </div>
      <div class="row justify-content-center">
        <div class="col text-center"><button type="submit" class="btn btn-primary mb-3 container">Ingresa</button></div>
        <div class="col text-center"><a class="btn btn-primary mb-3 container" href="signup">Registro</a></div>
      </div>
    </form>
  </div>

  <div class="col">
    <img src="../img/caratula.png" alt="Caratula inicial">
  </div>
</div>