{{#each gameByGroup}}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{localTeam}}</h5>
    <p class="card-text">{{localTeam}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{{else}}
<h1>NO HAY QUE MOSTRAR</h1>
{{/each}}