{{!-- <h3>{{localName}} Haz ingresado a tu juegos</h3> --}}

<div class="row justify-content-between row-grupo">
  <div class="col-3  col-md-1 mb-3">
    <a href="/groups/A"> <img src="/img/groups/grupo-a.png" alt="grupo A" class="img-grupo"> </a>
  </div>
  <div class="col-3 col-md-1">
    <a href="/groups/B"> <img src="/img/groups/grupo-b.png" alt="grupo B" class="img-grupo"> </a>
  </div>

  <div class="col-3 col-md-1">
    <a href="/groups/C"> <img src="/img/groups/grupo-c.png" alt="grupo C" class="img-grupo"> </a>
  </div>
  <div class="col-3 col-md-1">
    <a href="/groups/D"> <img src="/img/groups/grupo-d.png" alt="grupo D" class="img-grupo"> </a>
  </div>

   <div class="col-3 col-md-1">
    <a href="/groups/E"> <img src="/img/groups/grupo-e.png" alt="grupo E" class="img-grupo"> </a>
  </div>
  <div class="col-3 col-md-1">
    <a href="/groups/F"> <img src="/img/groups/grupo-f.png" alt="grupo F" class="img-grupo"> </a>
  </div>

  <div class="col-3 col-md-1">
    <a href="/groups/G"> <img src="/img/groups/grupo-g.png" alt="grupo G" class="img-grupo"> </a>
  </div>
  <div class="col-3 col-md-1">
    <a href="/groups/H"> <img src="/img/groups/grupo-h.png" alt="grupo H" class="img-grupo"> </a>
  </div>

</div>


