<div class="container">
<form action="/api/users/pass/restore/?_method=PUT" method="POST">
<input type="hidden" name="_method" value="PUT">
<div class="row">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">ID del jugador</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Id de usuario" name="id">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Nueva contraseña</label>
  <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Nueva contraseña" name="pass">
</div>
</div>

 <div class="row">
      <button type ="submit" class="btn btn-primary mb-3">Restablecer</button>
     </div>
</form>
</div>