<div class="container">
  <form action="api/users/me/password/?_method=PUT" method="POST">
<input type="hidden" name="_method" value="PUT">
<div class="row">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Contraseña actual</label>
  <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Contraseña actual" name="actualPass">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Nueva contraseña</label>
  <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Nueva contraseña" name="pass">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Repite contraseña</label>
  <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Repite contraseña" name="passVerify">
</div>
</div>

 <div class="row">
      <button type ="submit" class="btn btn-primary mb-3">Cambiar</button>
     </div>
</form>
</div>