<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="../../css/styles.css">
  <script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</head>

<body>
<div class="container">
  <form action="api/auth/signup" method="POST">
    <div class="mb-2">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Tu nombre">
    </div>
    <div class="mb-2">
      <label for="lastname" class="form-label">Apellidos</label>
      <input type="text" class="form-control" id="lastname" name="lastName" placeholder="Tus apellidos">
    </div>
    <div class="mb-2">
      <label for="phone" class="form-label">Telefono</label>
      <input type="text" class="form-control" id="phone" name="phone" placeholder="Tu celular">
    </div>
    <div class="mb-2">
      <label for="email" class="form-label">Correo</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Tu correo">
    </div>
    <div class="mb-2">
      <label for="pass" class="form-label">Contrase単a</label>
      <input type="password" class="form-control" id="pass" name="pass" placeholder="Crea tu contrase単a">
    </div>
    <div class="mb-2">
      <label for="pass-verify" class="form-label">Verifica contrase単a</label>
      <input type="password" class="form-control" id="pass-verify" name="passVerify" placeholder="Repite tu contrase単a">
    </div>

    <div class="row">
      <button type ="submit" class="btn btn-primary mb-3">Registro</button>
     </div>
  </form> 
</div>
</body>
</html>